#container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 960px;
    height: 960px;
}

.map {
    width: 600px;
    height: 650px;
    padding: 20px;
    float: left;
}

.d3charts{
    width: 600px;
    height: 650px;
    padding: 20px;
    float: rigth;
}